{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "no-empty-pattern": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "react-hooks/exhaustive-deps": [
      "warning",
      {
        "additionalHooks": "useAsyncCallback"
      }
    ]
  }
}
